<div class="card has-text-centered my-3">
  <div class="card-header is-size-2 is-centered">
    <h1 id="logo-green" class="card-header-title">Animal Search</h1>
  </div>
<form action="/profile/showAnimals" method="get" class="my-3">
  <input type="text" name="searchTerm">
  <input type="submit">
</form>

</div>


