<div class="columns">
  <div class="column">
    <h2 class="has-text-weight-bold is-size-2">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label class="label" for="email-login">Email:</label>
        <div>
        <input class="form-input" type="text" id="email-login" />
        </div>
      </div>
      <div class="form-group">
        <label class="label" for="password-login">Password:</label>
        <div>
        <input class="form-input" type="password" id="password-login" />
        </div>
      </div>
      <div class="form-group buttons">
        <button id="logo-green" class="button my-2 is-primary has-text-weight-semibold" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="column">
    <h2 class="has-text-weight-bold is-size-2">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label class="label" for="name-signup">Name:</label>
        <div>
        <input class="form-input" type="text" id="name-signup" />
        </div>
      </div>
      <div class="form-group">
        <label class="label" for="email-signup">Email:</label>
        <div>
        <input class="form-input" type="text" id="email-signup" />
        </div>
      </div>
      <div class="form-group">
        <label class="label" for="password-signup">Password:</label>
        <div>
        <input class="form-input" type="password" id="password-signup" />
        </div>
      </div>
      <div class="form-group">
        <button id="logo-blue" class="button is-primary my-2 has-text-weight-semibold" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
