<div class="columns">
  <div class="column">
    <h3 class="has-text-weight-bold is-size-2">Create a New Post:</h3>
    
    <form class="form new-post-form">
      <div class="form-group">
        <label class="label" for="post-state">State:</label>
        <input class="form-input" type="text" id="post-state" name="post-state" />
      </div>
       <div class="form-group">
        <label class="label" for="post-city">City:</label>
        <input class="form-input" type="text" id="post-city" name="post-city" />
      </div>
       <div class="form-group">
        <label class="label" for="post-location">Address:</label>
        <input class="form-input" type="text" id="post-address" name="post-adress" />
      </div>
       <div class="form-group">
        <label class="label" for="post-danger" class="checkbox"><input class="form-input" type="checkbox" id="post-danger" name="post-danger" />Dangerous</label>
      </div>
       <div class="form-group">
        <label class="label" for="post-missing" class="checkbox"><input class="form-input" type="checkbox" id="post-missing" name="post-missing" />Missing Pet</label>
      </div>
       <div class="form-group">
      </div>
      <div class="form-group">
        <label class="label" for="post-desc">Text:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button id="logo-green" type="submit" class="button is-primary">Create</button>
        <a href = '/profile'> Cancel</a>
      </div>
    </form>
  </div>


  <script src="/js/createPost.js"></script>