
{{#each animals as |animal| }}
    <div class="row mb-2">
      <div class="col-md-2">
       

        <p>{{animal.common_name}}</p>
      </div>
      

    </div>
    {{/each}}
  </div>




<a href= "/profile/chooseAnimal">Back</a>