
#logo-green {
    background-color:#A4CB6A
}

#logo-blue {
    background-color: #63BFB6
}

#logo-brown {
   
        background-color: #BFB05C
    }

    #logo-grey{
   
        background-color: #F2F2F2
    }
